<script src="/static/js/jquery-1.11.0.min.js?v={{Version}}"></script>
<script src="/static/js/bootstrap.min.js?v={{Version}}"></script>
<script src="/static/js/bootstrap-typeahead.min.js?v={{Version}}"></script>
<script src="/static/js/main.js?v={{Version}}"></script>

</body>
</html>