<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="cn">
<!--pc-->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
<!--m-->
<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<title>simdht</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="/static/css/bootstrap.min.css?v={{Version}}" rel="stylesheet">
<link href="/static/css/bootstrap-theme.min.css?v={{Version}}" rel="stylesheet">
<link href="/static/css/main.css?v={{Version}}" rel="stylesheet">
<script src="/static/js/jquery-1.11.0.min.js?v={{Version}}"></script>
</head>
<body>

<script src="/static/js/bootstrap.min.js?v={{Version}}"></script>
<script src="/static/js/bootstrap-typeahead.min.js?v={{Version}}"></script>
<script src="/static/js/main.js?v={{Version}}"></script>
<script type="text/javascript">

$('.x-sform').submit(function(e){
    e.preventDefault();
    var kw = $('.x-kw').val();

    if (kw.length<=1){
        window.alert('At least 2 words!!!');
        return false;
    }

    console.log(kw);

    if(!kw){
        $('.x-kw').focus();
        return false;
    }
    var url = '/s/' + encodeURIComponent(kw) + '_c0_f0_1.html';
    window.location = url;
    return false;
});


function selectCategory(type){
    $('#find_category').text(type);
    var v = location.href.split('?');
    location.href = v[0]+'?category='+type;
    PVCC.setCookie('find_category', type, 86400);
}

function getQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null){
        return unescape(r[2]); return null;
     }
}

</script>