<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="cn">
<!--pc-->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
<!--m-->
<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="baidu-site-verification" content="5w2bki4z0r" />
<meta name="google-site-verification" content="AGj4u0sEG5S5IZfwWIHaE98yfG381ey1fFD2OBeymPY" />
{% block metas %}
<!-- metas -->
{% endblock %}
<title>{%block title%}<!-- title -->{%endblock%}</title>
<link href="/static/css/bootstrap.min.css?v={{Version}}" rel="stylesheet">
<link href="/static/css/bootstrap-theme.min.css?v={{Version}}" rel="stylesheet">
<link href="/static/css/main.css?v={{Version}}" rel="stylesheet">

<script src="/static/js/jquery-1.11.0.min.js?v={{Version}}"></script>
<script type="text/javascript">
// to www
var hlist = window.location.hostname.split('.');
var targetProtocol = window.location.protocol;

if(hlist[0]=='v1' || hlist[0]=='v2' || hlist[0]=='v3'){ 
} else {
    //if(hlist[0]!='www'){
      //var url = targetProtocol +'//www.' +window.location.href.substring(window.location.protocol.length+2);
      //window.location.href = url;
    //}
}

</script>



{% block styles %}
<!-- styles -->
{% endblock %}


</head>
<body>


{% block navbar %}
{% endblock %}
{% block content %}
{% endblock %}


<script src="/static/js/bootstrap.min.js?v={{Version}}"></script>
<script src="/static/js/bootstrap-typeahead.min.js?v={{Version}}"></script>
<script src="/static/js/main.js?v={{Version}}"></script>
<script type="text/javascript">

$('.x-sform').submit(function(e){
    e.preventDefault();
    var kw = $('.x-kw').val();

    if (kw.length<=1){
        window.alert('At least 2 words!!!');
        return false;
    }

    if(!kw){
        $('.x-kw').focus();
        return false;
    }
    var url = '/s/' + encodeURIComponent(kw) + '_c0_f0_1.html';
    window.location = url;
    return false;
});


function selectCategory(type){
    $('#find_category').text(type);
    var v = location.href.split('?');
    location.href = v[0]+'?category='+type;
    PVCC.setCookie('find_category', type, 86400);
}

function getQueryString(name){
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null){
        return unescape(r[2]); return null;
     }
}


</script>

</body>
</html>