{{template "base/head" .}}



<meta name="keywords" content="">
<meta name="description" content="">


<form class="x-sform" method="GET">
<div class="container">
    <div id='header' class="div-search-box col-lg-offset-2 col-lg-8">

        <h1 id="logo">
            <span class="n1">S</span>
            <span class="n2">I</span>
            <span class="n4">M</span>
            <span class="n3">D</span>
            <span class="n4">H</span>
            <span class="n5">T</span>
        </h1>
        <p class="slogan"></p>
        <div>
            <div class="input-group">
                <!-- autocomplete="off" -->
                <input autocomplete="off" placeholder=""  type="text" class="col-xs-8 col-lg-8 form-control focus x-kw" name="kw">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            <div class="info-box">
                <ul>
                    <li><a href="/s/Video_c0_f0_1.html">Video</a></li>
                    <li><a href="/s/Document_c0_f0_1.html">Document</a></li>
                    <li><a href="/s/Music_c0_f0_1.html">Music</a></li>
                    <li><a href="/s/Package_c0_f0_1.html">Package</a></li>
                    <li><a href="/s/Michael Jackson_c0_f0_1.html">Michael Jackson</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
</form>



{{template "base/footer" .}}